<a class="app-brand" href="">
	<svg class="app-icon" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_554_6597)">
			<path d="M48 0H12C5.37258 0 0 5.37258 0 12V48C0 54.6274 5.37258 60 12 60H48C54.6274 60 60 54.6274 60 48V12C60 5.37258 54.6274 0 48 0Z" fill="#34005C" />
			<path d="M46.5 3H13.5C7.70101 3 3 7.70101 3 13.5V46.5C3 52.299 7.70101 57 13.5 57H46.5C52.299 57 57 52.299 57 46.5V13.5C57 7.70101 52.299 3 46.5 3Z" fill="#230143" />
			<path d="M9 49.5H51" stroke="#44494E" stroke-width="0.6" />
			<path d="M19.7999 36H15.5999C14.9372 36 14.3999 36.5373 14.3999 37.2V48.3C14.3999 48.9627 14.9372 49.5 15.5999 49.5H19.7999C20.4626 49.5 20.9999 48.9627 20.9999 48.3V37.2C20.9999 36.5373 20.4626 36 19.7999 36Z" fill="#8A2BE2" />
			<path d="M33.2999 30H29.0999C28.4372 30 27.8999 30.5373 27.8999 31.2V48.3C27.8999 48.9627 28.4372 49.5 29.0999 49.5H33.2999C33.9626 49.5 34.4999 48.9627 34.4999 48.3V31.2C34.4999 30.5373 33.9626 30 33.2999 30Z" fill="#8A2BE2" />
			<path d="M46.7999 21H42.5999C41.9372 21 41.3999 21.5373 41.3999 22.2V48.3C41.3999 48.9627 41.9372 49.5 42.5999 49.5H46.7999C47.4626 49.5 47.9999 48.9627 47.9999 48.3V22.2C47.9999 21.5373 47.4626 21 46.7999 21Z" fill="#8A2BE2" />
			<path d="M9 42L22.5 33L36 37.5L51 16.5" stroke="#FF9AFF" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round" />
			<path d="M17.8499 28.05C23.4832 28.05 28.0499 23.4833 28.0499 17.85C28.0499 12.2167 23.4832 7.64999 17.8499 7.64999C12.2166 7.64999 7.6499 12.2167 7.6499 17.85C7.6499 23.4833 12.2166 28.05 17.8499 28.05Z" stroke="url(#paint0_linear_554_6597)" stroke-width="0.9" />
			<path opacity="0.5" d="M17.8502 28.5C23.732 28.5 28.5002 23.7318 28.5002 17.85C28.5002 11.9682 23.732 7.2 17.8502 7.2C11.9684 7.2 7.2002 11.9682 7.2002 17.85C7.2002 23.7318 11.9684 28.5 17.8502 28.5Z" stroke="#FF9AFF" stroke-width="0.15" />
			<path d="M17.85 27.45C23.1519 27.45 27.45 23.1519 27.45 17.85C27.45 12.5481 23.1519 8.25 17.85 8.25C12.5481 8.25 8.25 12.5481 8.25 17.85C8.25 23.1519 12.5481 27.45 17.85 27.45Z" fill="url(#paint1_linear_554_6597)" />
			<path d="M17.85 27.45C23.1519 27.45 27.45 23.1519 27.45 17.85C27.45 12.5481 23.1519 8.25 17.85 8.25C12.5481 8.25 8.25 12.5481 8.25 17.85C8.25 23.1519 12.5481 27.45 17.85 27.45Z" fill="#8A2BE2" fill-opacity="0.05" />
			<path opacity="0.7" d="M17.85 27.45C23.1519 27.45 27.45 23.1519 27.45 17.85C27.45 12.5481 23.1519 8.25 17.85 8.25C12.5481 8.25 8.25 12.5481 8.25 17.85C8.25 23.1519 12.5481 27.45 17.85 27.45Z" stroke="#4B0082" stroke-width="0.15" />
			<path d="M12.242 20.65V15.0666H16.0696V16.0111H13.3693V17.3327H15.7002V18.2772H13.3693V20.65H12.242ZM16.9875 20.65V15.0666H18.6747L19.6878 18.8752L20.6895 15.0666H22.3805V20.65H21.3331V16.2549L20.2248 20.65H19.1394L18.0349 16.2549V20.65H16.9875Z" fill="#4B0082" />
			<path d="M12.0921 20.5V14.9166H15.9197V15.8611H13.2194V17.1827H15.5503V18.1272H13.2194V20.5H12.0921ZM16.8376 20.5V14.9166H18.5248L19.5379 18.7252L20.5396 14.9166H22.2306V20.5H21.1832V16.1049L20.0749 20.5H18.9895L17.885 16.1049V20.5H16.8376Z" fill="#FF9AFF" />
			<path d="M11.9422 20.35V14.7666H15.7698V15.7111H13.0695V17.0327H15.4004V17.9773H13.0695V20.35H11.9422ZM16.6877 20.35V14.7666H18.3749L19.388 18.5752L20.3896 14.7666H22.0807V20.35H21.0333V15.9549L19.925 20.35H18.8396L17.7351 15.9549V20.35H16.6877Z" fill="#FFCAFF" />
		</g>
		<defs>
			<linearGradient id="paint0_linear_554_6597" x1="7.6499" y1="7.64999" x2="7.6499" y2="2047.65" gradientUnits="userSpaceOnUse">
				<stop stop-color="#9A45D9" />
				<stop offset="0.5" stop-color="#6A0DAD" />
				<stop offset="1" stop-color="#5D0C99" />
			</linearGradient>
			<linearGradient id="paint1_linear_554_6597" x1="8.25" y1="8.25" x2="1928.25" y2="1928.25" gradientUnits="userSpaceOnUse">
				<stop stop-color="#8A2BE2" />
				<stop offset="0.8" stop-color="#6A0DAD" />
				<stop offset="1" stop-color="#5D0C99" />
			</linearGradient>
			<clipPath id="clip0_554_6597">
				<rect width="60" height="60" fill="white" />
			</clipPath>
		</defs>
	</svg>

    <h1 class="app-title">Financial Management Tracker</h1>
</a>
