<div class="app-links">
    <ul>
        <li class="link">About</li>
        <li class="link">Contact Us</li>
        <li class="link">Log in</li>
    </ul>
    <button class="btn btn-primary">Get Started</button>
</div>
