@using FinanMan.Shared.IdentityModels

<div class="login-form-wrapper">
    <EditForm Model=_loginModel OnValidSubmit=HandleLoginSubmitted>
        <Card>
            <CardHeader>
                @SharedLocalizer["LogIn"]
            </CardHeader>
            <CardBody>
                <CardText>
                    <div class="form-group">
                        <label>@Localizer["Username"]</label>
                        <InputText @bind-Value=_loginModel.Username />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Password"]</label>
                        <InputText @bind-Value=_loginModel.Password />
                    </div>
                </CardText>
            </CardBody>
            <CardFooter>
                <button type="submit">Sign In</button>
            </CardFooter>
        </Card>
    </EditForm>
</div>

@code {
    [Inject] private IStringLocalizer<LoginForm> Localizer { get; set; } = default!;
    private LoginModel _loginModel = new();

    private async Task HandleLoginSubmitted(EditContext editContext) 
    {

    }
}