@using FinanMan.BlazorUi.JsInterop;
@using FinanMan.BlazorUi.SharedComponents.FlyoutComponents
@using System.Diagnostics;
@using FinanMan.BlazorUi.Components.CalculatorComponents

@inherits LayoutComponentBase
@implements IDisposable

<PageTitle>Financial Management</PageTitle>

<div class="dukasoft-content-wrapper">
    <TopBar />
    <main class="content">
        @Body
    </main>
</div>

<Flyout Show=UiState.FlyoutVisible ChildContent=UiState.FlyoutContent ShowChanged=HandleFlyoutShowChanged/>
    
