.dukasoft-content-wrapper {
    display: grid;
    grid-template-areas:'tb' 'm';
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    ::deep {
        .topbar {
            grid-area: tb;
        }
    }

    main.content {
        grid-area: m;
        overflow: auto;
    }
}
