@using FinanMan.BlazorUi.JsInterop
@using FinanMan.BlazorUi.SharedComponents.FlyoutComponents
@using System.Diagnostics
@using FinanMan.BlazorUi.Components.CalculatorComponents

@inherits LayoutComponentBase
@implements IDisposable

<PageTitle>Financial Management</PageTitle>

<div class="dukasoft-content-wrapper">
    <TopBar />
    <main class="content">
        @Body
    </main>

</div>

<MessageDialog @bind-Show=UiState.MessageDialogVisible
               HeaderContent=@UiState.MessageDialogParameters.Title
               BodyContent=@UiState.MessageDialogParameters.Message
               OkButtonContent=@UiState.MessageDialogParameters.OkButtonText />
<Flyout Show=UiState.FlyoutVisible ChildContent=UiState.FlyoutContent ShowChanged=HandleFlyoutShowChanged />
