@page "/deposits"
@using FinanMan.Database.Models.Tables
@using FinanMan.Shared.DataEntryModels

<div class="page-content">
    <h3>Enter Deposit Details</h3>

    <EditForm Model=_newDeposit>
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>Date</label>
            <InputDate @bind-Value=_newDeposit.TransactionDate/>
        </div>
        <div class="form-group">
            <label>To Account</label>
            <InputSelect @bind-Value=_newDeposit.TargetAccountId>
                <option value="">--Select Account--</option>
                @if (_accounts is not null)
                {
                    foreach (var curAccount in _accounts)
                    {
                        <option value="@curAccount.Id">@curAccount.Name</option>
                    }
                }
            </InputSelect>
        </div>
        
        <div class="form-group">
            <label>Deposit Reason</label>
            <InputSelect @bind-Value=_newDeposit.DepositReasonId>
                <option value="">--Select Deposit--</option>
                @if (_depositReasons is not null)
                {
                    foreach (var curDeposit in _depositReasons)
                    {
                        <option value="@curDeposit.Id">@curDeposit.Name</option>
                    }
                }
            </InputSelect>
        </div>
        
        <div class="form-group">
            <label>Memo</label>
            <InputText @bind-Value=_newDeposit.Memo/>
        </div>
        
        <div class="form-group">
            <label>Amount</label>
            <InputNumber step=".01" @bind-Value=_newDeposit.Amount/>
        </div>
        <button type="submit">Submit</button>
    </EditForm>
</div>

@code {
    private DepositViewModel _newDeposit = new();

    private List<Account>? _accounts;
    private List<LuDepositReason>? _depositReasons;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        _accounts = new()
        {
            new() { Id = 1, Name = "Checking" },
            new() { Id = 2, Name = "Savings" },
            new() { Id = 3, Name = "Cheese" },
            new() { Id = 4, Name = "Coffee" }
        };
        _depositReasons = new()
        {
            new() { Id = 1, Name = "Regular Paycheck" },
            new() { Id = 2, Name = "State Income Tax Return" },
            new() { Id = 3, Name = "Federal Income Tax Return" },
            new() { Id = 4, Name = "Just Because" }
        };
    }
}
