@page "/"
@using Microsoft.Extensions.Localization

<PageTitle>Index</PageTitle>

<div class="hero">

</div>

@code {
    [Inject] private IStringLocalizer<Index> Localizer { get; set; } = default!;
    [Inject] private IStringLocalizer SharedLocalizer { get; set; } = default!;

    protected override void OnInitialized()
    {
    }
}