@import './Sass/BreakPointVariables';

.index-page {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;

    #hero {
        position: relative;
        display: grid;
        grid-template-columns: 1fr minmax(calc(390px - var(--default-padding) - 2rem), calc(50vw - 3rem));
        gap: 2rem;
        align-items: center;
        padding: var(--default-padding);
        z-index: 2;

        .title-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow-y: auto;
            height: 100%;
            gap: 1em;
            z-index: 2;

            .title {
                font-size: var(--font-size-h2);
            }

            .sub-title {
                font-size: var(--font-size-small);
            }

            button {
                align-self: flex-start;
            }
        }

        .app-preview-wrapper {
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }

        ::deep {
            .login-form-wrapper {
                z-index: 2;
            }
        }
    }

    ::deep {
        section {
            /* 
            TODO: Since the --default-content-max-width is based on 100vw,
            we will not get a fixed width (maybe somewhere around 900 or so)
            for the content section.  Change this to a fixed width in order 
            to get a fixed max-width for the content. Then for regular width 
            property, use the calc based on 100vw.

        */
            max-width: var(--default-content-max-width);

            &.content {
                padding: var(--default-padding);
                justify-content: space-between;

                .section-title {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    margin-bottom: .8rem;
                    font-size: var(--font-size-h2);
                    font-weight: normal;
                }

                .section-sub-title-wrapper {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 1.6rem;
                }

                .card-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: stretch;
                    gap: 2em;

                    .card {
                        border-radius: .6rem;
                        box-shadow: 2px 2px 4px rgba(255, 255, 255, .2);
                        border-color: var(--primary-text-color);
                        display: flex;
                        justify-content: space-between;
                        overflow: clip;

                        .card-header {
                            padding: 0;
                            font-size: 0;
                            border: none;
                            flex: 0;

                            img {
                                width: 50%;
                                min-width: 365px;
                                height: auto;
                            }
                        }

                        .card-body {
                            display: grid;
                            align-items: center;
                            max-width: 50%;

                            .card-text {
                                display: flex;
                                justify-content: flex-end;
                                padding-left: 1.2em;
                                padding-right: 1.2em;
                                border: none;
                                flex-direction: column;
                                gap: 1em;

                                .title {
                                    margin: 0;
                                    padding: 0;
                                    font-size: var(--font-size-h2);
                                    font-weight: normal;
                                }
                            }
                        }

                        &:nth-of-type(even) {
                            flex-direction: row-reverse;

                            .card-header {
                                display: flex;
                                justify-content: flex-end;
                            }
                        }

                        .card-footer {
                            display: none;
                        }
                    }
                }
            }

            &#secViewTransactionHist {
                .preview-image-wrapper {
                    --picture-top-offset: 5rem;
                    --picture-left-offset: 10rem;
                    position: relative;
                    padding-bottom: var(--picture-top-offset);

                    img {
                        width: calc(var(--default-content-max-width) - var(--picture-left-offset));

                        &:first-of-type {
                            transform: translateX(var(--picture-left-offset));
                        }

                        &:last-of-type {
                            position: absolute;
                            top: var(--picture-top-offset);
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: #{$bp-smoll-max}) {
}

@media (min-width: #{$bp-medium-min}) {
}

@media (min-width: #{$bp-large-min}) {
}

@media (min-width: #{$bp-medium-min}) {
}
