@page "/"
@using System.Globalization

@using FinanMan.BlazorUi.Components.MainPageComponents
@using FinanMan.BlazorUi.FlyoutContentComponents
@using FinanMan.BlazorUi.SharedComponents.AccordionListComponents

@using FinanMan.Shared.DataEntryModels
@using FinanMan.SharedLocalization.Extensions

@implements IDisposable

<PageTitle>@SharedLocalizerService.IndexTitle</PageTitle>

<article class="page index-page">
    <MainPageHero />

    <TrackTransactionsSection OnGettingStartedClicked=HandleGettingStartedClicked />
    
    <ViewTransactionHistorySection />
   
    <Footer class="@SocialsClass" />
</article>

@{
    #if DEBUG
}
    <style>
        .debug {
            position: fixed;
            bottom: 1rem;
            right: 2rem;
            z-index: 1001;
        }
            .debug:not(:hover) {
                opacity: 0.05;
            }
    </style>

    <div class="debug">
        <button type="button" class="btn btn-small btn-link" 
                @onclick="_ => _socialDisplayToggle = _socialDisplayToggle switch {
                            TriState.Neutral => TriState.Off,
                            TriState.Off => TriState.On,
                            _ => TriState.Neutral,
                          } ">Toggle Social Layout</button>
    </div>
@{
    #endif
}