@import './Sass/BreakPointVariables';

.index-page {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    container-type: inline-size;
    container-name: card;
    overflow: auto;

    ::deep {
        .getting-started-button {
            align-self: flex-start;
            font-size: var(--font-size-h6);
        }

        section {
            /* 
            TODO: Since the --default-content-max-width is based on 100vw,
            we will not get a fixed width (maybe somewhere around 900 or so)
            for the content section.  Change this to a fixed width in order 
            to get a fixed max-width for the content. Then for regular width 
            property, use the calc based on 100vw.
            */
            max-width: var(--default-content-max-width);

            &.content {
                padding: var(--default-padding);
                justify-content: space-between;

                .section-title {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    margin-bottom: .8rem;
                    font-size: var(--font-size-h2);
                    font-weight: normal;
                }

                .section-sub-title-wrapper {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 1.6rem;
                }
            }
        }
    }
}

@media (max-width: #{$bp-smoll-max}) {
    .index-page {
        ::deep {
            .getting-started-button {
                margin-top: .3em;
                align-self: center;
            }

            section {
                width: 100vw;
                max-width: unset;

                &.content {
                    padding: var(--default-padding-mobile);
                    padding-bottom: 0.7em;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    gap: 1em;

                    .section-title {
                        font-size: var(--font-size-h3);
                        justify-content: flex-start;
                    }

                    &:nth-of-type(odd) {
                        background-color: var(--section-background-color);
                    }
                }
            }

            footer {
                padding: var(--default-padding-mobile);
                width: 100vw;
            }
        }
    }
}

@media (min-width: #{$bp-medium-min}) and (max-width: #{$bp-medium-max}) {
}
