.index-page {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.index-page #hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(calc(390px - var(--default-padding) - 2rem), calc(50vw - 3rem));
  gap: 2rem;
  align-items: center;
  padding: var(--default-padding);
  z-index: 2;
}
.index-page #hero .title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  height: 100%;
  gap: 1em;
  z-index: 2;
}
.index-page #hero .title-wrapper .title {
  font-size: var(--font-size-h2);
}
.index-page #hero .title-wrapper .sub-title {
  font-size: var(--font-size-small);
}
.index-page #hero .title-wrapper button {
  align-self: flex-start;
}
.index-page #hero .app-preview-wrapper {
  width: 100%;
}
.index-page #hero .app-preview-wrapper img {
  width: 100%;
  height: auto;
}
.index-page #hero ::deep .login-form-wrapper {
  z-index: 2;
}
.index-page ::deep section {
  /* 
      TODO: Since the --default-content-max-width is based on 100vw,
      we will not get a fixed width (maybe somewhere around 900 or so)
      for the content section.  Change this to a fixed width in order 
      to get a fixed max-width for the content. Then for regular width 
      property, use the calc based on 100vw.

  */
  max-width: var(--default-content-max-width);
}
.index-page ::deep section.content {
  padding: var(--default-padding);
  justify-content: space-between;
}
.index-page ::deep section.content .section-title {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 0.8rem;
  font-size: var(--font-size-h2);
  font-weight: normal;
}
.index-page ::deep section.content .section-sub-title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}
.index-page ::deep section.content .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2em;
}
.index-page ::deep section.content .card-wrapper .card {
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
  border-color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  overflow: clip;
}
.index-page ::deep section.content .card-wrapper .card .card-header {
  padding: 0;
  font-size: 0;
  border: none;
  flex: 0;
}
.index-page ::deep section.content .card-wrapper .card .card-header img {
  width: 50%;
  min-width: 365px;
  height: auto;
}
.index-page ::deep section.content .card-wrapper .card .card-body {
  display: grid;
  align-items: center;
  max-width: 50%;
}
.index-page ::deep section.content .card-wrapper .card .card-body .card-text {
  display: flex;
  justify-content: flex-end;
  padding-left: 1.2em;
  padding-right: 1.2em;
  border: none;
  flex-direction: column;
  gap: 1em;
}
.index-page ::deep section.content .card-wrapper .card .card-body .card-text .title {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-h2);
  font-weight: normal;
}
.index-page ::deep section.content .card-wrapper .card:nth-of-type(even) {
  flex-direction: row-reverse;
}
.index-page ::deep section.content .card-wrapper .card:nth-of-type(even) .card-header {
  display: flex;
  justify-content: flex-end;
}
.index-page ::deep section.content .card-wrapper .card .card-footer {
  display: none;
}
.index-page ::deep#secViewTransactionHist .preview-image-wrapper {
  --picture-top-offset: 5rem;
  --picture-left-offset: 10rem;
  position: relative;
  padding-bottom: var(--picture-top-offset);
}
.index-page ::deep#secViewTransactionHist .preview-image-wrapper img {
  width: calc(var(--default-content-max-width) - var(--picture-left-offset));
}
.index-page ::deep#secViewTransactionHist .preview-image-wrapper img:first-of-type {
  transform: translateX(var(--picture-left-offset));
}
.index-page ::deep#secViewTransactionHist .preview-image-wrapper img:last-of-type {
  position: absolute;
  top: var(--picture-top-offset);
  left: 0;
}
.index-page ::deep footer {
  padding: var(--default-padding);
  background-color: var(--footer-background-color);
  border-top: 1px solid var(--default-border-color);
  font-size: var(--font-size-small);
  color: var(--default-text-color);
}
.index-page ::deep footer .footer-content {
  display: grid;
  gap: 6rem;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: var(--footer-content-width);
}
.index-page ::deep footer .footer-content .ar-logo-wrapper ::deep .logo-wrapper svg .text-group {
  /*display: none;*/
}
.index-page ::deep footer .footer-content .app-page-links ul, .index-page ::deep footer .footer-content .social-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.index-page ::deep footer .disclaimer {
  margin-top: 1rem;
  text-align: center;
}
.index-page ::deep footer.no-title .footer-content .social-links .social-title {
  display: none;
}
.index-page ::deep footer.other-layout {
  position: relative;
}
.index-page ::deep footer.other-layout .footer-content {
  grid-template-columns: repeat(2, auto);
}
.index-page ::deep footer.other-layout .footer-content .social-links {
  position: absolute;
  top: 0.4rem;
  left: 50%;
  transform: translateX(-50%);
}
.index-page ::deep footer.other-layout .footer-content .social-links ul {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}
.index-page ::deep footer.other-layout .footer-content .social-links .social-title {
  display: none;
}
