.index-page {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.index-page #hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(calc(390px - var(--default-padding) - 2rem), calc(50vw - 3rem));
  gap: 2rem;
  align-items: center;
  padding: var(--default-padding);
  z-index: 2;
}
.index-page #hero .title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  height: 100%;
  gap: 1em;
  z-index: 2;
}
.index-page #hero .title-wrapper .title {
  font-size: var(--font-size-h2);
}
.index-page #hero .title-wrapper .sub-title {
  font-size: var(--font-size-small);
}
.index-page #hero .title-wrapper button {
  align-self: flex-start;
}
.index-page #hero .app-preview-wrapper {
  width: 100%;
}
.index-page #hero .app-preview-wrapper img {
  width: 100%;
  height: auto;
}
.index-page #hero ::deep .login-form-wrapper {
  z-index: 2;
}
.index-page ::deep section {
  /* 
  TODO: Since the --default-content-max-width is based on 100vw,
  we will not get a fixed width (maybe somewhere around 900 or so)
  for the content section.  Change this to a fixed width in order 
  to get a fixed max-width for the content. Then for regular width 
  property, use the calc based on 100vw.
  */
  max-width: var(--default-content-max-width);
}
.index-page ::deep section.content {
  padding: var(--default-padding);
  justify-content: space-between;
}
.index-page ::deep section.content .section-title {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 0.8rem;
  font-size: var(--font-size-h2);
  font-weight: normal;
}
.index-page ::deep section.content .section-sub-title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}
