<Router AppAssembly=typeof(Routes).Assembly>
    <Found Context="routeData">
        <RouteView RouteData=routeData DefaultLayout=typeof(MainLayout) />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout=typeof(MainLayout)>
            <p role="alert">@SharedLocalizerService.NothingAtAddress</p>
        </LayoutView>
    </NotFound>
</Router>
