table {
    width: 100%;
    height: 100%;

    thead {
        position: sticky;
        top: 0;

        tr {
            background-color: var(--table-header-background-color);
        }
    }

    tr, ::deep tr {
        vertical-align: top;

        td, th {
            padding: .5rem;
        }
    }

    tfoot {
        position: sticky;
        bottom: 0;
        background-color: var(--table-footer-background-color);
    }
}
