.data-entry-wrapper {
    ::deep {
        #transferEntryForm {
            grid-template-areas:
                'td  td  a   a   . .' 
                'fac fac fac fac . .'
                'tac tac tac tac . .'
                'm   m   m   m   m m' 
                'sub sub .   .   . .';

            #transferDate {
                grid-area: td;
            }

            #memo {
                grid-area: m;
            }

            #fromAccount {
                grid-area: fac;
            }

            #toAccount {
                grid-area: tac;
            }

            #amount {
                grid-area: a;
            }

            #saveButton {
                grid-area: sub;
            }
        }
    }
}
