@page "/"

<PageTitle>Index</PageTitle>

<div class="page-content">
    <header>
        <h1 id="title">BIT GAMEY</h1>
        <a class="subtitle" href="mailto:support@bitgamey.com">support@bitgamey.com</a>
    </header>

    <main>
        <section id="hero">
            <img src="images/NoDomainCropped1.jpg" width="250" height="150">

            <p>New website coming soon...</p>
        </section>
    </main>

    <footer>
        <section id="socials">
            <a href="https://www.facebook.com/bitgamey" target="_blank">
                <img src="social\f-ogo_RGB_HEX-58.png" width="29" height="29">
            </a>
            <a href="https://www.twitter.com/bitgamey" target="_blank">
                <img src="social\Twitter_Logo_Blue.png" width="29" height="29">
            </a>
            <a href="https://www.youtube.com/bitgamey" target="_blank">
                <img src="social\yt_icon_rgb.png" height="29">
            </a>
        </section>
        <span class="">Copyright © @DateTime.Today.Year Bit Gamey.</span>
    </footer>
</div>