@using FinanMan.BlazorUi.SharedComponents.FlyoutComponents;

@inherits FlyoutContentBase

<div class="flyout-content account-transaction-history-flyout">
    <h1>Account Transaction History</h1>
    <TransactionHistoryGrid AccountName=@AccountName /> 
</div>