@using FinanMan.BlazorUi.SharedComponents.FlyoutComponents

@inherits FlyoutContentBase

<div class="flyout-content contact-us-flyout">
    <h1>Contact us</h1>
    <div>
        <p>If you can find me</p>
        <input type="checkbox" @bind=_allowClose />
    </div>
</div>
