:root {
  --light: #f0f3f0;
  --primary-text-color: #f0f3f0;
  --primary-background-color: #03060A;
  --font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif, serif;
  --default-border-color: #D7F5FA;
  --link-color: #D7F5FA;
  --topbar-height: 3.3rem;
  --topbar-background-color: #020305;
  --topbar-foreground-color: var(--primary-text-color);
  --border-glow: rgba(255,255,255,.3);
  --faint-border-glow: rgba(255, 255, 255, .1);
  /* Cards */
  --card-background-color: var(--primary-background-color);
  --card-foreground-color: var(--primary-text-color);
  --card-border-color: var(--primary-background-color);
  /* Inputs */
  --input-border-color: var(--default-border-color);
  --input-border-style: 1px solid var(--input-border-color);
  --input-background-color: #03000A;
  /* Lists */
  --list-foreground-color: var(--primary-text-color);
  --list-background-color: rgba(0, 0, 0, .2);
  --list-item-hover-fg-color: var(--primary-text-color);
  --list-item-hover-bg-color: rgba(255, 255, 255, .2);
  /* Buttons */
  --button-border-color: var(--default-border-color);
  --button-border-style: 1px solid var(--button-border-color);
  --button-outline-style: 2px solid var(--default-border-color);
  --button-border-radius: .2rem;
  --button-foreground-color: var(--primary-background-color);
  --button-background-color: var(--light);
  --button-hover-foreground-color: var(--light);
  --button-hover-background-color: var(--primary-background-color);
  --button-disabled-border-color: #ddd;
  --button-disabled-foreground-color: #ddd;
  --button-disabled-background-color: #333;
  --button-active-border-color: #9E410E;
  --button-active-foreground-color: var(--light);
  --button-active-background-color: #9E410E;
  --button-padding: .3em 1em;
  --footer-background-color: #1D2933;
  --active-tab-button-background-color: #9E410E;
  --active-tab-button-foreground-color: var(--light);
  /* Tables */
  --table-header-background-color: #1D2933;
  --table-header-background-hover-color: rgba(255, 255, 255, .05);
  --table-footer-background-color: #1D2933;
  /* Fonts */
  --font-size-h1: 2em;
  --font-size-h2: 1.5em;
  --font-size-h3: 1.17em;
  --font-size-h4: 1em;
  /* Default z-index */
  --flyout-z-index: 2;
  --modal-z-index: calc(var(--flyout-z-index) + 1);
  /* Colors */
  --danger-color: #DC3545;
  --warning-color: #FFC107;
  --muted-color: #777;
  /* Draggable Container */
  --draggable-container-background-color: var(--primary-background-color);
}

button, .btn {
  color: var(--button-foreground-color);
  background-color: var(--button-background-color);
  border: var(--button-border-style);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  font-weight: 600;
}
button.invert, .btn.invert {
  color: var(--button-background-color);
  background-color: var(--button-foreground-color);
  border-color: var(--button-background-color);
}
button:focus-within, .btn:focus-within {
  outline: var(--button-outline-style);
}
button:hover, .btn:hover {
  cursor: pointer;
  color: var(--button-hover-foreground-color);
  background-color: var(--button-hover-background-color);
}
button.btn-link, .btn.btn-link {
  color: var(--link-color);
  background-color: transparent;
  border: none;
  padding: 0;
  font-weight: 400;
}
button[disabled], button[disabled=disabled], button:disabled, .btn[disabled], .btn[disabled=disabled], .btn:disabled {
  color: var(--button-disabled-foreground-color);
  background-color: var(--button-disabled-background-color);
  border-color: var(--button-disabled-border-color);
  cursor: not-allowed;
}
button.active, .btn.active {
  color: var(--button-active-foreground-color);
  background-color: var(--button-active-background-color);
  border-color: var(--button-active-border-color);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form-group label {
  margin-bottom: 0.4em;
}

input:not([type=checkbox]):not([type=radio]), select:not([type=checkbox]):not([type=radio]) {
  padding: 0.4em;
  border: none;
  border-radius: 0.2rem 0.2rem 0 0;
  border-bottom: var(--input-border-style);
  background-color: var(--input-background-color);
  color: var(--primary-text-color);
}

table.data-grid thead tr td, table.data-grid thead tr th {
  text-align: left;
}

.card {
  color: var(--card-foreground-color) !important;
  background-color: var(--card-background-color) !important;
}
.card .card-header, .card .card-footer {
  border-color: var(--primary-background-color) !important;
}

.modal-wrapper {
  z-index: var(--modal-z-index);
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

a {
  color: var(--link-color);
}
a:not(:hover) {
  text-decoration: none;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

.text-danger {
  color: var(--danger-color);
}

.text-warning {
  color: var(--warning-color);
}

.text-muted {
  color: var(--muted-color);
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  right: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  z-index: 1000;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.currency-display {
  display: flex;
  justify-content: flex-end;
}

.blazor-error-boundary {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
  padding: 1rem 1rem 1rem 3.7rem;
  color: white;
}
.blazor-error-boundary::after {
  content: "An error has occurred.";
}

.sr-only {
  visibility: hidden;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

i.icon {
  font-style: normal;
}

/* Style Draggable Component Here */
.draggable-container {
  z-index: calc(var(--modal-z-index) + 1);
}

.hide-me {
  display: none;
}
