.drag-area-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    .draggable-container {
        background-color: var(--draggable-container-background-color);

        .draggable-area {
            user-select: none;
            cursor: move !important;

            &:active {
                cursor: grabbing;
            }
        }
    }
}
