<div class="drag-area-wrapper@(applyDragging ? " dragging" : null)"
     style="visibility: visible;@(applyDragging ? "position: fixed; inset: 0;transform: unset;" : PositionStyles)"
     @ondragover=HandleDragOver>
    <div id="draggableContainer-@_id"
         class="draggable-container"
         style="visibility:visible;@(applyDragging ? PositionStyles : "position: block;")">
        <div class="draggable-area"
             draggable="true"
             @onmousedown=HandleMouseDown
             @onmouseup=HandleMouseUp
             @ondragend=HandleDragEnd
             ondragstart="dukaSoftFuncs.handleDraggableContainerDragStart(event)">
            Draggable Area - Dragging: @(_dragging)
        </div>
        <div class="draggable-content">
            @ChildContent
        </div>
    </div>
</div>
