<div class="drag-area-wrapper"
     style="visibility: visible;@(_dragging ? "position: fixed; inset: 0;transform: unset;" : PositionStyles)"
     @ondragover=HandleDragOver>
    <div id="draggableContainer-@_id"
         class="draggable-container"
         style="visibility:visible;@(_dragging ? PositionStyles : "position: block;")">
        <div class="draggable-area"
             draggable="true"
             @onmousedown=HandleMouseDown
             @ondragstart=HandleDragStart
             @ondragend=HandleDragEnd>
            Draggable Area
        </div>
        <div class="draggable-content">
            @ChildContent
        </div>
    </div>
</div>
