.drag-area-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.drag-area-wrapper .draggable-container {
  position: relative;
  background-color: var(--draggable-container-background-color);
}
.drag-area-wrapper .draggable-container .draggable-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
  cursor: move !important;
  padding: 0.2rem 0.4rem;
}
.drag-area-wrapper .draggable-container .draggable-area hr {
  margin: 0.2rem 0;
  opacity: 0.1;
}
.drag-area-wrapper .draggable-container .draggable-area:active {
  cursor: grabbing;
}
