#calcContainer ::deep .modal-wrapper .modal-content .card .card-body .card-text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
#calcContainer ::deep .modal-wrapper .modal-content .card .card-body .card-text .calc-buttons {
  display: grid;
  grid-template-columns: repeat(3, 3ch);
  grid-template-rows: repeat(4, 3ch);
  gap: 0.4rem;
  justify-content: center;
  align-content: center;
}
#calcContainer ::deep .modal-wrapper .modal-content .card .card-body .card-text .calc-buttons button {
  padding: 0;
  display: grid;
  place-items: center;
}
#calcContainer ::deep .modal-wrapper .modal-content .card .card-body .card-text .calc-buttons button#btn0 {
  grid-column: 2;
}
