#calcContainer {
  outline: 1px solid var(--border-inactive);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}
#calcContainer[data-active], #calcContainer[data-active=true], #calcContainer:focus-within {
  outline: 1px solid var(--border-active);
}
#calcContainer .focus-button {
  position: absolute;
  opacity: 0;
  height: 1px;
  width: 1px;
  outline: none;
  padding: 0;
  margin: 0;
}
#calcContainer ::deep:not(#numberOutput) {
  user-select: none;
}
#calcContainer ::deep .modal-wrapper .dismiss-wrapper {
  display: initial;
  left: unset;
}
#calcContainer ::deep .card .card-header {
  padding-bottom: 0;
}
#calcContainer ::deep .card .card-header .calc-output {
  margin-top: 1rem;
}
#calcContainer ::deep .card .card-header .calc-output #formulaOutput {
  display: block;
  min-height: 1ch;
}
#calcContainer ::deep .card .card-header .dismiss-button {
  position: absolute;
  right: 0.2rem;
  top: 0;
  background: var(--primary-background-color);
  border: none;
  padding: calc(0.1rem - 1px) 0.2rem 0.1rem 0.2rem;
  margin: 1px;
  color: var(--primary-color);
}
#calcContainer ::deep .card .card-body .card-text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-top: 0;
}
#calcContainer ::deep .card .card-body .card-text :not(#numberOutput) {
  user-select: none;
}
#calcContainer ::deep .card .card-body .card-text #numberOutput {
  padding: 0.4rem 0.6rem;
  user-select: text;
  border-radius: 0.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Consolas;
  cursor: text;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons {
  display: grid;
  grid-template: "btnRemove btnDivide   btnMultiply btnMinus" "btn7      btn8        btn9        btnPlus" "btn4      btn5        btn6        btnPlus" "btn1      btn2        btn3        btnSubmit" "btnNegate btn0        btnDecimal  btnSubmit" "btnClear  btnClear    btnClearAll btnClearAll";
  grid-template-columns: repeat(4, 3ch);
  grid-template-rows: repeat(6, 3ch);
  gap: 0.4rem;
  justify-content: center;
  align-content: center;
  padding: 0 4rem;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button {
  padding: 0;
  display: grid;
  place-items: center;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-0 {
  grid-area: btn0;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-1 {
  grid-area: btn1;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-2 {
  grid-area: btn2;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-3 {
  grid-area: btn3;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-4 {
  grid-area: btn4;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-5 {
  grid-area: btn5;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-6 {
  grid-area: btn6;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-7 {
  grid-area: btn7;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-8 {
  grid-area: btn8;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-9 {
  grid-area: btn9;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-n {
  grid-area: btnNegate;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-decimal {
  grid-area: btnDecimal;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-divide {
  grid-area: btnDivide;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-multiply {
  grid-area: btnMultiply;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-plus {
  grid-area: btnPlus;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-minus {
  grid-area: btnMinus;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-submit {
  grid-area: btnSubmit;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-remove {
  grid-area: btnRemove;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-clear {
  grid-area: btnClear;
}
#calcContainer ::deep .card .card-body .card-text .calc-buttons button#btn-clearAll {
  grid-area: btnClearAll;
}
