@import '../../Sass/BreakPointVariables';

#hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(calc(390px - var(--default-padding) - 2rem), calc(50vw - 3rem));
    gap: 2rem;
    align-items: center;
    padding: var(--default-padding);
    z-index: 2;

    .title-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: auto;
        height: 100%;
        gap: 1em;
        z-index: 2;

        .title {
            font-size: var(--font-size-h2);
        }

        .sub-title {
            font-size: var(--font-size-small);
        }

        button {
            align-self: flex-start;
        }
    }

    .app-preview-wrapper {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    ::deep {
        .login-form-wrapper {
            z-index: 2;
        }
    }
}

@media (max-width: #{$bp-smoll-max}) {
    #hero {
        grid-template-columns: 1fr;
        grid-template-areas: 'hp' 'tc';
        gap: 1rem;
        width: 100vw;
        padding: 0;

        .title-wrapper {
            padding: var(--default-padding-mobile);
            grid-area: tc;

            .title {
                font-size: var(--font-size-h3);
            }

            .sub-title {
                font-size: var(--font-size-small);
            }
        }

        .app-preview-wrapper {
            grid-area: hp;
            img {
                width: 100vw;
            }
        }
    }
}

@media (min-width: #{$bp-medium-min}) and (max-width: #{$bp-medium-max}) {
}
