<header id="hero">
    <div class="title-wrapper">
        <span class="title">@SharedLocalizerService.HeroTitle</span>
        <span class="sub-title">@SharedLocalizerService.HeroSubtitle</span>
        <button id="btnHeroGetStarted" class="btn btn-primary">Get Started</button>
    </div>
    <div class="app-preview-wrapper">
        <img src="_content/FinanMan.BlazorUi/imgs/app-preview.png" alt="@SharedLocalizerService.HeroPreviewImageAltText" />
    </div>
</header>