#secViewTransactionHist .preview-image-wrapper {
  --picture-top-offset: 5rem;
  --picture-left-offset: 10rem;
  position: relative;
  padding-bottom: var(--picture-top-offset);
}
#secViewTransactionHist .preview-image-wrapper img {
  width: calc(var(--default-content-max-width) - var(--picture-left-offset));
}
#secViewTransactionHist .preview-image-wrapper img:first-of-type {
  transform: translateX(var(--picture-left-offset));
}
#secViewTransactionHist .preview-image-wrapper img:last-of-type {
  position: absolute;
  top: var(--picture-top-offset);
  left: 0;
}

@container (max-width: 480px) {
  #secViewTransactionHist {
    background-color: pink;
  }
}
@container (min-width: 480.1px) and (max-width: 930px) {
  #secViewTransactionHist {
    background-color: blue;
  }
}
