.logo-wrapper {
    --my-color1: var(--color1, #652b84);
    --my-color2: var(--color2, rgba(144, 144, 144, .2));
    --size: 1rem;
    height: auto;
    width: var(--size);
    user-select: none;
}

.color1 {
    fill: var(--my-color1);
}

.color2 {
    fill: var(--my-color2);
}

#shadow {
    opacity: .15;
}

.cls-1, .cls-2, .cls-3, .cls-4, .elipse {
    mix-blend-mode: multiply;
    opacity: .84;

    &.cls-1 {
        fill: url(#linear-gradient-3);
    }

    &.cls-2 {
        fill: url(#linear-gradient-5);
    }

    &.cls-3 {
        fill: url(#linear-gradient-2);
    }

    &.cls-4 {
        fill: url(#linear-gradient-4);
    }

    &.cls-5 {
        isolation: isolate;
    }

    &.elipse {
        fill: url(#linear-gradient);
        opacity: .15;
    }
}

@keyframes oscillate {
    0%, 100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }
}

@keyframes tremor {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.tremor {
    animation: oscillate 2s infinite, tremor 0.3s infinite;
}

::deep {
    .particle {
        fill: pink;

        &.animate-move {
            animation: moveToCenter 5s infinite;
        }
    }
}

@keyframes moveToCenter {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(calc(50% - 99px), calc(50% - 114px));
    }
}


