@using Microsoft.AspNetCore.Components.Web
@namespace FinanMan.ServerOnly.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="shortcut icon" href="_content/FinanMan.BlazorUi/favicon.ico" type="image/x-icon" />
    <environment include="Staging,Production">
        <link rel="stylesheet" href="_content/FinanMan.BlazorUi/css/app.min.css" />
    </environment>

    <environment include="Development">
        <link rel="stylesheet" href="_content/FinanMan.BlazorUi/css/app.css" />
    </environment>>
    <link href="FinanMan.ServerOnly.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <div id="app">
        @RenderBody()
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_content/FinanMan.BlazorUi/js/super-dukasoft-interop.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
