
$bubblegum: #F369B4;
$darkteal: #03060A;
$teal: #095768;

$some-dark-color: #F3F3F3;
$off-white: #F6F5F5;
$graphite-gray: #44494E;
$white: #FFFFFF;
$white-smoke: #F3F3F3;
$dim-gray: #6D6D6D;

$dodger-blue: #2196FE;

$purple1: #34005C;
$purple2: #230143;
$purple3: #200D29;
$purple4: #530296;
$purple5: #7900B8;
$purple6: #ED68FD;