@import "ColorVariables";

:root {
    --light: #f0f3f0;
    --primary-text-color: #f0f3f0;
    --primary-background-color: #{$darkteal};
    --font-family: "Segoe UI", Arial, sans-serif, serif;
    --link-color: #D7F5FA;
    --topbar-height: 3.3rem;
    --topbar-background-color: #020305;
    --topbar-foreground-color: var(--primary-text-color);
    --border-glow: rgba(255,255,255,.3); // Cyberpunk Theme: #{$bubblegum};
    --default-border-color: #D7F5FA;
    --faint-border-glow: rgba(255, 255, 255, .1);
    /* Cards */
    --card-background-color: var(--primary-background-color);
    --card-foreground-color: var(--primary-text-color);
    --card-border-color: var(--primary-background-color);
    /* Inputs */
    --input-border-color: var(--default-border-color);
    --input-border-style: 1px solid var(--input-border-color);
    --input-background-color: #03000A;
    /* Lists */
    --list-foreground-color: var(--primary-text-color);
    --list-background-color: rgba(0, 0, 0, .2);
    --list-item-hover-fg-color: var(--primary-text-color);
    --list-item-hover-bg-color: rgba(255, 255, 255, .2);
    /* Buttons */
    --button-border-color: transparent;
    --button-outline-color: #{$purple4};
    --button-border-style: 1px solid var(--button-border-color);
    --button-outline-style: 2px solid var(--button-outline-color);
    --button-border-radius: .2rem;
    --button-foreground-color: #{$white-smoke};
    --button-background-color: #{$purple1};
    --button-disabled-border-color: transparent;
    --button-disabled-foreground-color: #{$dim-gray};
    --button-disabled-background-color: #{$purple2};
    --button-hover-foreground-color: #{$white-smoke};
    --button-hover-background-color: #{$purple4};
    --button-active-border-color: transparent;
    --button-active-foreground-color: #{$white-smoke};
    --button-active-background-color: var(--button-background-color);
    --button-pressed-border-color: transparent;
    --button-pressed-foreground-color: #{$white-smoke};
    --button-pressed-background-color: #{$purple3};
    --button-padding: .3em 1em;
    --footer-background-color: #1D2933;
    --active-tab-button-background-color: #9E410E;
    --active-tab-button-foreground-color: var(--light);
    /* Tables */
    --table-header-background-color: #1D2933;
    --table-header-background-hover-color: rgba(255, 255, 255, .05);
    --table-footer-background-color: #1D2933;
    /* Fonts */
    --font-size-h1: 2em;
    --font-size-h2: 1.5em;
    --font-size-h3: 1.17em;
    --font-size-h4: 1em;
    /* Default z-index */
    --flyout-z-index: 2;
    --modal-z-index: calc(var(--flyout-z-index) + 1);
    /* Colors */
    --danger-color: #DC3545;
    --warning-color: #FFC107;
    --muted-color: #777;
    /* Draggable Container */
    --draggable-container-background-color: var(--primary-background-color);
    /* Borders for Active Items */
    --border-active: #fff;
    --border-inactive: #1d2c33;
}
