<div id="listManagementWrapper" class="data-entry-wrapper">
    <LookupTypeList ActiveLookupListType=ListType ActiveLookupListTypeChanged=HandleListTypeSelected />
    <LookupListEdit LookupType=ListType />
</div>
