@using FinanMan.BlazorUi.FlyoutContentComponents;
@using FinanMan.Shared.AccountSummaryModels;

<tr>
    <td>
        <a href="javascript:void(0)" @onclick=HandleAccountClicked>
            @Model.AccountName
        </a>
    </td>
    <td>
        @Model.CurrentBalance
        @if (Model.Pending != 0)
        {
            <span class="pending">
               (@Model.Pending)
            </span>
        }
    </td>
    <td class="currency-display">
        @Model.AdjustedBalance
    </td>
</tr>

@code {
    [Inject] IUiState UiState { get; set; } = default!;
    [Parameter] public AccountSummaryViewModel Model { get; set; } = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized(); 
    }

    private void HandleAccountClicked()
    {
        // Navigate / Somehow show the transaction history for this account
        UiState.DisplayFlyout(
            @<AccountTransactionHistoryFlyoutContent AccountName=@Model.AccountName />
        );
    }
}
