<aside id="accountSummary" class="account-summary-wrapper">
    <Card AdditionalCssClasses="account-summary-card">
        <CardHeader>
            @SharedLocalizerService.AccountSummary <button @onclick=RefreshAccountSummaryAsync>Refresh</button>
        </CardHeader>
        <CardBody>
            @if (_accountSummariesResp?.WasError ?? false)
            {
                <CardText>
                    @_accountSummariesResp.RenderError
                </CardText>
            }
            <CardText>
                <AccountSummaryGrid AccountSummaries=_accountSummariesResp?.Data />
            </CardText>
        </CardBody>
    </Card>
</aside>