#editTransModalContainer ::deep .modal-wrapper {
  overflow-y: auto;
}
#editTransModalContainer ::deep .modal-wrapper .modal-content {
  max-height: calc(100vh - 2rem);
  min-height: 40ch;
  display: flex;
}
#editTransModalContainer ::deep .modal-wrapper .modal-content .card .card-body {
  display: flex;
  overflow: hidden;
}
#editTransModalContainer ::deep .modal-wrapper .modal-content .card .card-body .card-text {
  height: calc(100% - 2rem);
  overflow-y: auto;
  padding: 1rem;
}
#editTransModalContainer ::deep .modal-wrapper .modal-content .card .card-body .card-text .title {
  display: none;
}
#editTransModalContainer ::deep .modal-wrapper .modal-content .card .card-body .card-text #saveButton {
  display: none;
}
#editTransModalContainer ::deep .modal-wrapper .modal-content .card .card-body .card-text .data-entry-section .data-entry-form {
  width: auto;
}

@media screen and (min-width: 768px) {
  ::deep .data-entry-section .data-entry-form {
    display: grid;
    align-items: flex-end;
    gap: 1rem;
    width: calc(42ch + 5rem);
  }
}
