.transaction-history table tr td {
  padding: 0 0.4rem;
}
.transaction-history table thead tr th {
  position: relative;
  white-space: nowrap;
  padding-left: 0.4rem;
}
.transaction-history table thead tr th .header-content {
  display: flex;
  cursor: default;
  align-items: center;
  height: 1.6rem;
  margin-right: 0.4rem;
}
.transaction-history table thead tr th .header-content:hover {
  text-shadow: 0 0 1px var(--primary-text-color);
  background-color: var(--table-header-background-hover-color);
}
.transaction-history table thead tr th .header-content .sort-dir {
  width: 1.2ch;
  margin-right: 1rem;
}
.transaction-history table thead tr th .header-content .filter-button {
  position: relative;
  display: inline;
  cursor: pointer;
}
.transaction-history table thead tr th .header-content .filter-button .icon:hover {
  background-color: var(--table-header-background-hover-color);
}
.transaction-history table thead tr th .header-content .filter-button:not(:focus-within) .filter-menu {
  display: none;
}
.transaction-history table thead tr th .header-content .filter-button .filter-menu {
  background-color: var(--primary-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  border: 1px solid var(--default-border-color);
  border-radius: 0 0.4rem 0.4rem 0.4rem;
  z-index: 1;
}
.transaction-history table thead tr th .header-content .filter-button .filter-menu li {
  padding: 0.4rem 0.6rem;
}
.transaction-history table thead tr th .header-content .filter-button .filter-menu li.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.transaction-history table thead tr th .header-content .filter-button .filter-menu li.divider {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  cursor: default;
}
.transaction-history table thead tr th .header-content .filter-button .filter-menu li:not(.divider):not(.sorted):hover {
  background-color: var(--table-header-background-hover-color);
}
.transaction-history table thead tr th .resize-handle {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-50%);
  cursor: ew-resize;
  width: 0.4rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity linear 0.2s;
}
.transaction-history table thead tr th .resize-handle:hover {
  opacity: 1;
}
