name: dotnet package

on: [push]

jobs:
  build:

    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.x'
      - name: Install MAUI Workloads
        run: |
          dotnet workload install android --ignore-failed-sources
          dotnet workload install maui --ignore-failed-sources
      - name: Install dependencies
        run: dotnet restore 'src/FinanMan/FinanMan.sln'
      - name: Build
        run: dotnet build --configuration Release -p:PublishReadyToRun=false --no-restore 'src/FinanMan/FinanMan.sln'
      - name: Test
        run: dotnet test --no-restore --verbosity normal 'src/FinanMan/FinanMan.sln'
